<!doctype html>
<html lang="en" xmlns:th=″http://www.thymeleaf.org″>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>HourGlass</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <div  class="d-flex flex-column sidenav">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li>
                <a href="#" class="d-block p-3 link-dark text-decoration-none" title="HourGlass" data-bs-toggle="tooltip" data-bs-placement="center">
                    <i class="bi bi-hourglass"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="center">
                    <i class="bi bi-house"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Time Card" data-bs-toggle="tooltip" data-bs-placement="center">
                    <i class="bi bi-clock"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 border-bottom" title="Calendar" data-bs-toggle="tooltip" data-bs-placement="center">
                    <i class="bi bi-calendar"></i>
                </a>
            </li>
        </ul>
    </div>

<main class="content">

    <div>
        <h1>HourGlass</h1>
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>
